<footer>
  <div class="bg-grey-light px-8 py-3 border-t border-grey text-lg text-grey">
    <span>Australia</span>
  </div>

  <div class="flex justify-between bg-grey-light px-4 py-3 border-t border-grey">
    <ul class="list-reset inline-flex">
      <li class="mx-3"><a class="text-grey-dark no-underline" href="https://www.google.com/intl/en_au/ads/?subid=ww-ww-et-g-awa-a-g_hpafoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpafooter&fg=1">Advertising</a></li>

      <li class="mx-3"><a class="text-grey-dark no-underline" href="https://www.google.com/services/?subid=ww-ww-et-g-awa-a-g_hpbfoot1_1!o2&utm_source=google.com&utm_medium=referral&utm_campaign=google_hpbfooter&fg=1">Business</a></li>

      <li class="mx-3"><a class="text-grey-dark no-underline" href="https://www.google.com/intl/en_au/about/?utm_source=google.com&utm_medium=referral&utm_campaign=hp-footer&fg=1">About</a></li>

    </ul>

    <ul class="list-reset inline-flex">
      <li class="mx-3"><a class="text-grey-dark no-underline" href="https://www.google.com/intl/en_au/policies/privacy/?fg=1">Privacy</a></li>

      <li class="mx-3"><a class="text-grey-dark no-underline" href="https://www.google.com/intl/en_au/policies/terms/?fg=1">Terms</a></li>

      <li class="mx-3"><a class="text-grey-dark no-underline" href="https://www.google.com/preferences?hl=en">Settings</a></li>
    </ul>
  </div>
</footer>