<nav class="px-8 py-4">
  <ul class="flex items-center justify-end content-center list-reset">

    <li class="pl-4">
      <a class="no-underline hover:underline text-black" href="https://mail.google.com/mail/?tab=wm">Gmail</a>
    </li>

    <li class="pl-4">
      <a class="no-underline hover:underline text-black" href="https://www.google.com.au/imghp?hl=en&tab=wi">Images</a>
    </li>

    <li class="pl-4">
      <a href="https://www.google.com.au/intl/en/options/" title="Google apps">
        <div class="apps flex items-center justify-center" style="height: 30px; width: 30px;">
          <img src="/apps.png">
        </div>
      </a>
    </li>

    <li class="pl-4">
      <a href="#" title="0 Google notifications">
        <div class="notifications flex items-center justify-center rounded-full bg-grey overflow-hidden">
          <img src="/notifications.png">
        </div>
      </a>
    </li>

    <li class="pl-4">
      <a href="#">
        <img class="avatar rounded-full" src="/avatar.png" title="Google Account: Luke Bennett (luke.bennett88@gmail.com)">
      </a>
    </li>

  </ul>
</nav>