body {
  margin: 0
}

footer,
nav {
  display: block
}

main {
  display: block
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

button,
input {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0
}

button,
input {
  overflow: visible
}

button {
  cursor: default;
  text-transform: none
}

[type=reset],
[type=submit],
button,
html [type=button] {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

[hidden] {
  display: none
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
::after,
::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit
}

h3 {
  font-size: 18px;
  font-weight: normal;
  margin: 23px 0 0;
}

p {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}


button {
  background: 0 0;
  padding: 0
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color
}

ul {
  margin: 0
}

[tabindex="-1"]:focus {
  outline: 0 !important
}

*,
::after,
::before {
  border-width: 0;
  border-style: solid;
  border-color: #f3f3f3
}

img {
  border-style: solid
}

[type=button],
[type=reset],
[type=submit],
button {
  border-radius: 0
}

img {
  max-width: 100%
}

button,
input {
  font-family: inherit
}

input::-webkit-input-placeholder {
  color: inherit;
  opacity: .5
}

input:-ms-input-placeholder {
  color: inherit;
  opacity: .5
}

input::-ms-input-placeholder {
  color: inherit;
  opacity: .5
}

input::placeholder {
  color: inherit;
  opacity: .5
}

[role=button],
button {
  cursor: default;
}

.list-reset {
  list-style: none;
  padding: 0
}

.bg-white {
  background-color: #fff
}

.bg-grey {
  background-color: #757575
}

.bg-grey-light {
  background-color: #f3f3f3
}

.border-grey {
  border-color: #E4E4E4
}

.rounded {
  border-radius: .25rem
}

.rounded-full {
  border-radius: 9999px
}

.border {
  border-width: 1px
}

.border-t {
  border-top-width: 1px
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}

.items-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.justify-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}

.content-center {
  -ms-flex-line-pack: center;
  align-content: center
}

.font-sans {
  font-family: Arial, system-ui, BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif
}

.font-bold {
  font-weight: 700
}

.h-3 {
  height: .75rem
}

.h-4 {
  height: 1.5rem
}

.h-auto {
  height: auto
}

.h-full {
  height: 100%
}

.h-screen {
  height: 100vh
}

.m-1 {
  margin: .25rem
}

.mx-3 {
  margin-left: .75rem;
  margin-right: .75rem
}

.mx-8 {
  margin-left: 2rem;
  margin-right: 2rem
}

.mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mb-8 {
  margin-bottom: 2rem
}

.max-w-full {
  max-width: 100%
}

.py-2 {
  padding-top: .5rem;
  padding-bottom: .5rem
}

.py-3 {
  padding-top: .75rem;
  padding-bottom: .75rem
}

.py-4 {
  padding-top: 1rem;
  padding-bottom: 1rem
}

.px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.px-6 {
  padding-left: 1.5rem;
  padding-right: 1.5rem
}

.px-8 {
  padding-left: 2rem;
  padding-right: 2rem
}

.pl-4 {
  padding-left: 1rem
}

.pb-0 {
  padding-bottom: 0
}

.overflow-hidden {
  overflow: hidden
}

.shadow {
  box-shadow:
  0 2px 4px 0 rgba(0,0,0,0.10);
}

.shadow-md {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .12), 0 2px 4px 0 rgba(0, 0, 0, .08)
}

.fill-current {
  fill: currentColor
}

.text-black {
  color: rgba(0, 0, 0, .87)
}

.text-blue {
  color: #4A8BEE;
}

.text-green {
  color: rgb(0, 102, 33);
  font-size: 14px;
}

.text-grey {
  color: #757575
}

.text-grey-dark {
  color: #666;
}

.text-white {
  color: #fff
}

.text-base {
  font-size: 13px;
}

.text-lg {
  font-size: 15px
}

.text-xl {
  font-size: 16px;
}

.no-underline {
  text-decoration: none
}

.hover\:underline:hover {
  text-decoration: underline
}

.w-3 {
  width: .75rem
}

.w-full {
  width: 100%
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

/* END OF TAILWIND */


html {
  height: 100%;
  -webkit-font-kerning: auto;
  -webkit-font-smoothing: auto;
  font-optical-sizing: auto;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: style weight small-caps;
  font-variant: normal;
  font-variant-alternates: normal;
  font-variant-caps: normal;
  font-variant-east-asian: normal;
  font-variant-ligatures: normal;
  font-variant-numeric: normal;
  font-variant-position: normal;
  font-variation-settings: normal;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh
}

header {
  background: rgb(250,250,250);
  padding-top: 17px;
  border-bottom: 1px solid #EBEBEB;
  height: 119px;
}

nav a {
  text-decoration: none;
  color: rgb(119, 119, 119);
}
  nav a:hover {
    color: rgba(0, 0, 0, .87)
  }

  nav a:active {
    color: #1A73E8;
  }

  nav li {
    padding: 28px 16px 12px;
  }

main {
  -webkit-box-flex: 1;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto
}

footer {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

a {
  color: rgb(26, 13, 171);
}

h3 a {
  text-decoration: none;
}
  h3 a:hover {
    text-decoration: underline;
  }

input:focus {
  outline: 0
}

ol {
  margin-bottom: 0;
  padding-left: 20px;
}

ol li {
  line-height: 1.5;
}


/* CLASSES */
.active {
  border-bottom: 3px solid rgb(26, 115, 232);
  font-weight: bold;
  outline-color: rgb(26, 115, 232);
}
  .active a {
    color: rgb(26, 115, 232);
  }

  .active a:hover {
    color: rgb(26, 115, 232);
  }

.apps {
  margin-left: 6px;
  height: 20px;
  width: 20px
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;

  border-top: 5px solid rgb(0, 102, 33);
  display: inline-block;
}

.avatar {
  height: 32px;
  margin-left: 6px;
  width: 32px
}

.button {
  border: 1px solid transparent
}
  .button:hover {
    color: rgba(0, 0, 0, .87);
    border: 1px solid #E4E4E4;
    background: rgb(243,243,243);
    background: radial-gradient(circle, rgba(243,243,243,1) 0%, rgba(241,241,241,1) 100%);
    box-shadow:
    0 2px 4px 0 rgba(0,0,0,0.10);
  }

.logo {
  display: inline-block;
  position: absolute;
  left: 15px;
  width: 120px;
}

.microphone {
  height: 23px;
}

.notifications {
  margin-left: 6px;
  height: 20px;
  width: 20px
}

.search {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  height: 44px;
  -webkit-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  -o-transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  width: 484px;
  border-color: #E4E4E4;
}
  .search:hover {
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }

.tools {
  padding: 8px 15px;
}
  .tools:hover {
    border: 1px solid #C6C6C6;
    border-radius: .25rem;
    background: rgb(243,243,243);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    padding: 7px 14px;
    position: relative;
  }

  .tools a:hover {
    color: rgb(119, 119, 119);
  }

  .tools-parent {
    padding-bottom: 0;
  }
