{{ define "main" }}
<div class="flex justify-center mb-8" style="padding-top: 10rem;">
  <img class="mx-auto" src="/logo.png" alt="Google" height="92" width="272">
</div>

<div class="flex justify-center">
  <form class="mx-8" title="search">
    <div class="border border-grey flex justify-between mb-8 w-full px-4 py-2 shadow-md" style="height: 44px; width: 484px;">
      <input class="text-lg h-auto max-w-full md:w-full" type="text">
      <span>
        <svg style="color: #4A8BEE; height: 23px; fill: currentColor;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path class="heroicon-ui" d="M13 18.94V21h3a1 1 0 0 1 0 2H8a1 1 0 0 1 0-2h3v-2.06A8 8 0 0 1 4 11a1 1 0 0 1 2 0 6 6 0 1 0 12 0 1 1 0 0 1 2 0 8 8 0 0 1-7 7.94zM12 1a4 4 0 0 1 4 4v6a4 4 0 1 1-8 0V5a4 4 0 0 1 4-4zm0 2a2 2 0 0 0-2 2v6a2 2 0 1 0 4 0V5a2 2 0 0 0-2-2z"/></svg>
      </span>
    </div>
    <div class="flex justify-center">
      <button class="bg-grey-light font-bold font-sans m-1 px-6 py-4 rounded text-grey">Google Search</button>
      <button class="bg-grey-light font-bold font-sans m-1 px-4 py-3 rounded text-grey">I'm Feeling Lucky</button>
    </div>
  </form>
</div>

{{end}}
